Django==1.4.3
argparse==1.2.1
async==0.6.1
coverage==3.6b3
distribute==0.6.24
dj-database-url==0.2.1
django-jenkins==0.14.0
gitdb==0.5.4
logilab-astng==0.24.1
logilab-common==0.58.3
psycopg2==2.4.6
pylint==0.26.0
smmap==0.8.2
wsgiref==0.1.2
